<h1>Reviews by Movie</h1>
<% @reviews.group_by(&:movie_title).each do |movie_title, reviews| %>
  <h2><%= movie_title %> (Average Rating: <%= reviews.average { |review| review.rating }.round(2) %> Stars)</h2>
  <ul>
    <% reviews.each do |review| %>
      <li><%= review.rating %> Stars: <%= review.comment %></li>
    <% end %>
  </ul>
  <br>
<% end %>